<header style="display: flex; justify-content: center; width: 100%; background: #7289da; height: 50px">
  <strong style="align-self: center; color: #fff; font-weight: bold; font-size: 18px; font-family:Arial, Helvetica, sans-serif">Recuperação de senha</strong>
</header>

<div style="display: flex; flex-direction: column; align-self: center; margin-top: 100px;">
  <small style="font-size: 14px; font-family:Arial, Helvetica, sans-serif; color: #7289da">Olá {{name}}, este é o seu código de recuperação:</small>

  <span style="margin-top: 15px; font-size: 14px; font-family:Arial;">Codigo de Recuperação: <strong style="margin-top: 15px; font-size: 14px; font-family:Arial;">{{token}}</strong></span>
</div>
